@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {
line-height: 1.5em;
}

.album-art {
	border: solid 2px;
	border-color: red;	
	padding: 25px;
	float: left;

}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	border: solid 2px;
	border-color: red;	
	padding: 25px;
	float: left;
}

.record-label {
	color: red;	
}

.track-list {
	font-size: 16px
}

#about-photo {
	border: solid 2px;
	border-color: red;	
	padding: 25px;
}

#copyright {
font-size: 67%;
color:red;
}

#section-about, #section-discography, #section-equipment {
	border: solid 2px;
	border-color: red;	
	padding: 25px;
	margin: 20px 10px;
	align-self: auto;
}

#text-intro {
	font-size: 1.2em;
	color: red;
	border: solid 2px red;
	padding: 1em;
	background-color: rgb(50, 50, 50);
	margin: 30px 10px;
}