@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
<<<<<<< HEAD
	background-color: black;
	color: white;
=======
	background-color: blue;
	color: yellow;
>>>>>>> fa9ecfc5a66f7263fe04d3a731b7e40126e9e93e
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {

}

.album-art {
<<<<<<< HEAD
 scale: 76%;
 background-origin: padding-box;
=======

>>>>>>> fa9ecfc5a66f7263fe04d3a731b7e40126e9e93e
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
<<<<<<< HEAD
	border: 7px;
	border-color: red;	
}

.record-label {
color: red;
=======
	
}

.record-label {

>>>>>>> fa9ecfc5a66f7263fe04d3a731b7e40126e9e93e
}

.track-list {

}

#about-photo {

}

#copyright {
<<<<<<< HEAD
font-size: 67%;
color:red;
}

#section-about, #section-discography, #section-equipment {
font-size: 105%;
}

#text-intro {
	color: red;
=======
 font-size: 67%
}

#section-about, #section-discography, #section-equipment {

}

#text-intro {
	
>>>>>>> fa9ecfc5a66f7263fe04d3a731b7e40126e9e93e
}